.main {
  background: url(./image/vasily-koloda-8CqDvPuo_kI-unsplash.jpg);
  background-position: relative;
  background-size: cover;
  margin: 0;
  height: 150vh;
  width: 100%;
}
nav img {
  width: 80px;
  float: left;
  margin: 10px;
}
nav ul {
  float: right;
}
nav ul li {
  display: inline-block;
  padding-left: 10px;
  margin-right: 20px;
}
/* creation of heading */
.head {
  padding: 450px;
  padding-bottom: 50px;
}

.head h1:hover {
  color: crimson;
}
.head p:hover {
  color: rgb(210, 132, 147);
}
/* creation of courses */
.course h2 {
  color: rgb(79, 31, 31);
  font-weight: bold;
  text-decoration: underline;
}
.course h3 {
  color: chocolate;
  font-style: italic;
}
.course ul {
  background-color: aqua;
  list-style: none;
  width: 30%;
  padding: 10px 0;
  border-radius: 10px;
}
.course ul:hover {
  background-color: rgb(105, 206, 206);
}
.course ul li {
  margin-top: 10px;
}
.skill ul {
  background-color: darkcyan;
}
.post ul {
  background-color: bisque;
}
.post ul:hover {
  background-color: rgb(211, 176, 132);
}
/* creation of extra activities */
.others h2 {
  color: chocolate;
  margin: 10px;
}
.play p {
  font-size: x-large;
  margin-left: 160px;
}
.play img {
  width: 40%;
  border-radius: 50px;
  transition: 0.4s;
  animation: ease-in-out;
}
.play img:hover {
  border-style: solid;
}
.placement {
  padding-left: 30%;
}
.placement p {
  font-size: x-large;
  margin-left: 150px;
}
.placement img {
  width: 55%;
  border-radius: 50px;
  transition: 0.4s;
  animation: ease-in-out;
}
.placement img:hover {
  border-style: solid;
}
.cultural p {
  font-size: x-large;
  margin-left: 70%;
}
.cultural img {
  height: 350px;
  border-radius: 50px;
  margin-left: 60%;
  transition: 0.4s;
  animation: ease-in-out;
}
.cultural img:hover {
  border-style: solid;
}
.video h3 {
  color: rgb(65, 27, 27);
  font-size: xx-large;
  font-weight: bold;
  text-decoration: underline;
}
.video video {
  width: 70%;
  margin-top: 20px;
}
